// app global css in Stylus form
.title-page
  color $title
.title-card
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size 1.4rem
  font-weight 500
  i
    font-size 2rem
    vertical-align sub
  & > span:last-child
    padding-left 7px
